# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# Verilog files
*.v

# Verilog generation debug files
*.v.json

# Waveform dumps
*.vcd
*.gtkw

# Tests outputs
test/__traces__
test/__profiles__/*.json
pytestdebug.log
.hypothesis

# Documentation build
build/
docs/*.rst

# Distribution / packaging
*.egg-info/
